[2019-09-12 03:50] lz2020 opened #1 "恭喜开张，进来撒个花"

[2019-09-20 03:43] LibertyDream opened #3 "不能正常显示提示"
# 问题描述

按说明安装启用插件后，未显示 tabnine 智能提示

# 问题类型

bug

环境：win10

![image](https://user-images.githubusercontent.com/30103389/65297759-994ec180-db9b-11e9-8bdf-4e29f072efea.png)

# 问题详情

安装启用完毕

![image](https://user-images.githubusercontent.com/30103389/65297083-4542dd80-db99-11e9-96a4-3cfb618eb1a9.png)
![image](https://user-images.githubusercontent.com/30103389/65297114-5a1f7100-db99-11e9-8117-6c478010

[2019-09-21 02:09] wenmin-wu commented on #3
感谢使用，可以在浏览器中右击，点击“检查”， 然后打开控制台，帮我看下log里面报的是什么错吗？
![image](https://user-images.githubusercontent.com/9409333/65366518-9f09dd00-dc57-11e9-8e4b-0b1eeb5a4bb2.png)
![image](https://user-images.githubusercontent.com/9409333/65366538-f1e39480-dc57-11e9-811e-36606146e6d2.png)

[2019-09-22 02:37] LibertyDream commented on #3
![image](https://user-images.githubusercontent.com/30103389/65381446-09884f00-dd24-11e9-9809-e29b689a3958.png)
![image](https://user-images.githubusercontent.com/30103389/65381458-481e0980-dd24-11e9-89ef-c4bc6cae82ea.png)

另，这个问题在新建文档内不存在。

![image](https://user-images.githubusercontent.com/30103389/65381470-a1863880-dd24-11e9-898c-432a190e72bc.png)

[2019-09-27 11:26] Diyago opened #4 "jupyter-tabnine doesnt work at all after installation"
I followed instruction but failed. Everything seems to be installed pretty well, but doesn't work at all, in addition it broke old default autocompletion, but started to work afain after disabling this extension.

Below info that I did:
[code]

[2019-10-01 12:49] wenmin-wu commented on #4
Sorry for this late reply. You need to restart the Jupyter after enabling the server extension.

[2019-10-07 08:05] Diyago commented on #4
@wenmin-wu restarted several times, same problem

[2019-10-07 08:18] wenmin-wu commented on #4
@Diyago which browser are you using? Can right-click on the page and click `inspect` and screenshot the logs on the `console` tab.

[2019-10-07 14:00] joehoeller commented on #4
I am getting this error:

` Support for specifying --pylab on the command line has been removed.
 Please use `%pylab jupyter_tabnine` or `%matplotlib jupyter_tabnine` in the notebook itself.`

[2019-10-08 13:39] wenmin-wu commented on #4
@joehoeller What command did you issue cause this error?

[2019-10-08 13:40] wenmin-wu commented on #4
@Diyago I guess, maybe you are using IE. IE is not compatible with the completer of jupyter notebook. You can try it on Chrome.

[2019-10-08 14:38] wenmin-wu commented on #4
I think I get the problem.
Replace
[code]
with
[code]
`[--user|--sys-prefix|--system]` is an optional argument, you can add one of them for your purpose. Since you install it in image, you'd better don't use this argument.

[2019-10-08 14:39] wenmin-wu commented on #4
@joehoeller
 I think I get the problem.
Replace
[code]
with
[code]
`[--user|--sys-prefix|--system]` is an optional argument, you can add one of them for your purpose. Since you install it in image, you'd better don't use this argument.

[2019-10-09 11:10] joehoeller commented on #4
Do I run in CMD or RUN?

[2019-10-09 13:12] achtungmike opened #5 "TabNine::sem message after install"
After installation I am getting a warning message about TabNine::sem.  How do I enable TabNine::sem or disable this message in your extension?  The commands the warning message give do not work from inside Jupyter.

![tab_nine](https://user-images.githubusercontent.com/31513230/66484178-83367180-ea74-11e9-91c9-7e2027824174.png)

Thank you!

[2019-10-09 13:33] wenmin-wu commented on #5
Just type `TabNine::sem` in Jupyter Notebook cell. And it will start to download the python language server.

[2019-10-09 13:35] wenmin-wu commented on #4
@joehoeller in `RUN`. In Dockerfile `RUN` is for commands that help to build the image while `CMD` is the command which will be executed when you `docker run` the image.

[2019-10-09 13:38] achtungmike commented on #5
I get an invalid syntax error.

![Capture](https://user-images.githubusercontent.com/31513230/66486399-87648e00-ea78-11e9-828b-a4b55dee6a6c.PNG)

[2019-10-09 13:43] wenmin-wu commented on #5
@achtungmike don't try to execute this cell. Just type it, and it will trigger the downloading of the python language server automatically.  You can press `Tab` to get the downloading information. After that, you can delete this line(`TabNine::sem`). I will fix this problem by downloading the language server at start, then users won't come across with this warning.

[2019-10-09 13:45] joehoeller commented on #4
Sure, yes I knew that. But there is a Jupyter command in the CMD portion of
the Dockerfile which is why I asked.

On Wed, Oct 9, 2019 at 8:35 AM 吴文敏 <notifications@github.com> wrote:

[2019-10-10 06:38] wenmin-wu commented on #4
@joehoeller sure, I see. Thanks for using this plugin:)

[2019-10-17 11:30] bonysimon007 opened #6 "TabNine::sem not working"
I tried to enable TabNine::sem but it returned error saying command failed is pip install python-language-server. I installed the package manually as well. But still not working.

Also, is it possible to use this module for jupyter lab?-

[2019-10-24 14:32] paul-harambee opened #7 "JupyterLab"
Any chance we can get this working in JupyterLab?

[2019-10-25 19:15] shreyasgm commented on #7
Thank you for this wonderful extension. A JupyterLab extension would be immensely helpful, especially given that with the release of JupyterLab 1.0, there's official confirmation that JupyterLab ["will eventually replace the classic notebook"](https://jupyterlab.readthedocs.io/en/stable/getting_started/overview.html).

[2019-10-26 14:44] jaimeperezsanchez opened #8 "Support for jupyter notebooks on VSCode"
Hi, since native support for jupyter notebooks has recently been announced on VSCode:
Is there any way for Tabnine to work in these files?
Is their support planned?

Thank you!

[2019-11-01 02:36] wenmin-wu commented on #8
As far as I know, when coding on VSCode there are many plugins providing auto-completion like `IntelliSense `. You can also install TabNine from plugins market of `VSCode`.

[2019-11-01 02:36] #8 closed

[2019-11-01 02:39] wenmin-wu commented on #6
- I'm working on a version to install python language server by default. In this way, you won't need to install the server manually by typing `TabNine::sem`. Actually, I won't see the warning any more.

- Yes, I will make it possible to be used in jupyter lab.

will ping you when I finish these.

[2019-11-06 19:53] Clorky opened #9 "How do I install this with Anaconda?"
Hello, I'm using Anaconda. Can't seem to install it with: `pip3 install jupyter-tabnine [--user][--upgrade]`

**Throws out this error:**

 or `python3 setup.py install`... doesn't say anything in the command prompt. I'm using **Anaconda** cmd for installation. It doesn't work with Windows cmd either. Thank you for your help.

[2019-11-06 23:21] Clorky commented on #9
Fixed. Had to add pip to PATH and update it as well. Don't know what exactly was the issue.

[2019-11-06 23:22] #9 closed

[2019-11-13 02:37] wenmin-wu commented on #7
@paul-harambee @shreyasgm Thanks for your suggestions, I will create a branch and work on support for JupyterLab

[2019-11-21 05:44] talk2sunil83 commented on #3
Hi,
Thank you for wonderful extension. I followed instructions for installation and enabling extension in nbextensions but,  Unfortunately I am facing same issue "Unsatisfiable read, closing connection: delimiter re.compile(b'\r?\n\r?\n') not found within 65536 bytes"

Thanks,
Sunil

[2019-11-23 15:52] archenroot opened #10 "Feature Request: Function docs show"
Hi,

great plugin. I am much more used from Java/Scala world that I have not only apis autocompletable, but I can also see api declaration (input and output parameters) and easy link to full docs,  in Eclipse/Idea.

Do you consider that as extension possible to do via this plugin?

The doc can be something like this:
![image](https://user-images.githubusercontent.com/553512/69481418-85307600-0e11-

[2019-11-27 06:22] daxinnan commented on #3
我的问题是能显示代码提示，但是为什么我敲代码`import n`提示有`import numpy as np`，我按下`Tab`键之后上屏的是`import nnumpy as np`，会多一个字母，这个怎么解决。

[2019-12-08 07:19] foreverhoulu opened #11 "Seems not work for macos?"
Hi,
  I just installed tabnine , installation process seems ok but not prompting any thing at all coding in jupyter， the server shows the following err :
    OSError: [Errno 8] Exec format error: '/anaconda3/lib/python3.6/site-packages/jupyter_tabnine/binaries/2.1.21/x86_64-apple-darwin/TabNine'
 Wonder if it support mac os ?

[2019-12-14 20:21] veliona commented on #11
Hi @foreverhoulu and @wenmin-wu !
I actually have the same issue, I followed the instructions, however I can not see any autofill proposition in my cells.
Also, I checked my Jupyter Notebook version, which is 6.0.0, so everything should be fine.

Could you pls give us a hand @wenmin-wu ? :)

[2020-01-01 01:18] yundokim opened #12 "Themes Maybe? feature request"
Im using onedork theme with jupytertheme plugin. it would be great if this plugin natively reacts to it or it may have a seperate theme. The translucent window is very annoying.
thx for the plugin tho very easy to use.

[2020-01-03 14:16] alvinjamur opened #13 "Cannot install Tabnine in conda environment (Python=3.7.5), Ubuntu 18.04, zsh shell"
I would love to use and subscribe to tabnine. In this case I wanted to start using it in a Jupyter Notebook so I activated a freshly made conda environment then did the following inside it:

1) pip3 install jupyter-tabnine (installs a bunch of things and finishes ok)
2) RUN jupyter nbextension install --py jupyter_tabnine
3) RUN jupyter nbextension enable --py jupyter_tabnine
4) RUN jupyter server

[2020-01-19 01:42] forest520 opened #14 "GPL v3 License is unfriendly, MIT or BSD is preferred"
As we know, most of the machine learning open source projects are BSD or MIT license, such as Jupyter, tabnine-vscode, Tensorflow, scikit-learn, etc. GPL is rarely used since it has too many restrictions: [https://www.quora.com/What-are-the-most-restrictive-business-unfriendly-open-source-licenses](https://www.quora.com/What-are-the-most-restrictive-business-unfriendly-open-source-licenses)

So I

[2020-01-20 11:48] vincentwen1995 opened #15 "Autocompletion does not work and no suggestions pop up"
**OS**: Windows 10 X64 Enterprise
**Python interpreter**: Python 3.7.5 (Anaconda)
**Jupyter version**:
[code]
**Description**:
After following the instructions to install and enable the extension, in the notebook the extension simply does not work (no suggestion list).
I used the debug mode to check the error message, and this is what I have after opening a notebook and typing a letter to trigger

[2020-01-20 11:59] vincentwen1995 commented on #15
OK, pretty easy solution... I noticed that when booting Jupyter Notebook, a binary file check is done by the **TabNineDownloader**. Therefore, I manually deleted the binary file TabNine.exe and let the downloader update it, which solved the problem.

[2020-01-20 11:59] #15 closed

[2020-01-23 03:08] wenmin-wu commented on #14
I'm not familiar with these licenses,  just randomly choose one. I'm going to change to **MIT** thanks for suggestion.

[2020-01-23 03:08] #14 closed

[2020-01-23 21:42] eyamga opened #16 "Jupyter TabNine not working after installation"
Hi,

I just installed the extension using pip3 and following all the steps properly (and have the lastest version of Jupyter).

The extensions shows up in the nbextension and is enabled. But when I type, the autocomplete feature is not working.

Don't know what would be the best steps?

Thanks in advance!

[2020-01-28 05:48] wenmin-wu commented on #11
@foreverhoulu It should work with MacOS because it was developed on MacOS. @veliona Will post a doc about how to debug and report the issues.

[2020-01-28 06:23] wenmin-wu commented on #16
@eyamga Hi eyamga, sorry for this late reply. Please refer to this doc https://github.com/wenmin-wu/jupyter-tabnine/blob/master/DEBUG.md to give me more information about your problem.

[2020-01-28 06:24] wenmin-wu commented on #13
Hi @alvinjamur, please refer to this doc https://github.com/wenmin-wu/jupyter-tabnine/blob/master/DEBUG.md to give me more information about your problem.

[2020-01-28 06:25] wenmin-wu commented on #12
It can be done by changing the colour config in the `css` file.

[2020-01-28 23:45] dancebean commented on #13
I'm having the similar issue. The tabnine extension works find in the **jupyter notebook** but not **jupyter lab**. When running jupyter lab After following the DEBUG process here: https://github.com/wenmin-wu/jupyter-tabnine/blob/master/DEBUG.md, the logs in the inspect console didn't show anything started with [nbextensions/jupyter_tabnine/main], (which is shown when using jupyter notebook in th

[2020-01-31 13:18] agi1512 opened #19 "Shift+Space doesn't seem to work"
I have remote jupyter notebook server.
I've setup on it docker with jupyter as were in our earlier versions shown, then installed latest available library from github. At first it wouldn't even show me predictions, even after i entered correct address of the server in the `nbextensions` settings , i had to manually enter server `http://*ip*:9999` into `.js` file (in `var config`), then it worked.

[2020-02-01 12:42] bigonestep opened #20 "When jupyter use themes, TabNine display an error."

[2020-02-04 17:50] eyamga commented on #16
Hi @wenmin-wu

Here is what I am seeing :
![image](https://user-images.githubusercontent.com/52801182/73771684-cbc51980-474c-11ea-83f7-2e8986f57c0b.png)

and when I click on the error log I see :

![image](https://user-images.githubusercontent.com/52801182/73771758-f31be680-474c-11ea-8a69-83717b48f1fa.png)

Thank you in advance!

[2020-02-07 13:58] Rouizi commented on #13
@alvinjamur you have permission denied in step 2, try with `sudo`:

    sudo jupyter nbextension install --py jupyter_tabnine

[2020-02-07 13:59] Rouizi opened #21 "ModuleNotFoundError: No module named 'jupyter_tabnine'"
I tried to install jupyter tabnine extension like this:

    pip3 install jupyter-tabnine
    jupyter nbextension install

with the second command I have this error:

    Installing /home/rouizi/.local/lib/python3.6/site-packages/jupyter_tabnine/static -> jupyter_tabnine
    Traceback (most recent call last):
      File "/home/rouizi/.local/bin/jupyter-nbextension", line 11, in <module>
        sy

[2020-02-09 11:40] shinokada opened #22 "How can I install it on Anaconda Jupyter"
Could you add the installation for anaconda in the README, please?

[2020-02-09 13:38] wenmin-wu commented on #22
You can still install with `pip` in anaconda environment.

[2020-02-09 13:38] #22 closed

[2020-02-09 23:14] shinokada opened #23 "INFO on the terminal after installation"
After installation, I restarted three times, but I still get the following INFO.
Is there any way to remove this?

[code]

<img width="1436" alt="image" src="https://user-images.githubusercontent.com/147320/74111083-2f2fcb00-4bd5-11ea-9a2a-d70978d3411c.png">

[2020-02-12 03:25] wenmin-wu commented on #23
You can just ignore this. These logs just tell you the TabNine binary had downloaded successfully.

[2020-02-12 03:26] #23 closed

[2020-02-17 23:39] capnahab opened #24 "No connection to internal server in console, error 500, Jupyter-Tabnine not working on Mac Chrome, Python3"
Here is my Chrome output. I am using jupyter notebook , Python 3 and MacosX Catalina.

`Loading` extension: contrib_nbextensions_help_item/main
main.min.js?v=fd76f62c63dfcfdb33c73b0d15290316:34748 Loading extension: execute_time/ExecuteTime
ExecuteTime.js?v=20200217233217:55 [ExecuteTime] patching CodeCell.prototype.get_callbacks
main.min.js?v=fd76f62c63dfcfdb33c73b0d15290316:34748 Loading extensi

[2020-02-26 15:00] Starboomz commented on #21
I am having the same issues too!

[2020-03-14 19:25] BrunoGomesCoelho opened #25 "Downloading tabnine binary after installing: Permission denied"
I have successfully installed TabNine, but the extension fails to download the binary files after starting the notebook:

I have tried to manually download the binary file from the link, place it inside the folder and restart jupyter but I then get a error when acessing the file:

Is there any way to specify a install directory for example to fix this?

[2020-03-20 13:12] snickell commented on #7
@wenmin-wu do you think a jupyterlab extension would be a lot of work? i love tabnine, thinking about setting it up on my jupyterlab cluster, happy to help if there's some way I can

[2020-03-21 20:23] Klom57 commented on #19
Have the same issue, would be very appreciate if you provide any help :)

[2020-03-21 23:44] qingfeng1996 commented on #21
same, the instruction must be more clear, much trouble caused by it

[2020-03-26 15:02] BothOfUsTogether2 opened #28 "auto completion is not working well"
hello,
the tabnine seems to work but the python-language-server doesn't work.
I'm using anaconda3.

I've tried to install pyls but it doesn't install it. with error:

[code]

the installation of python-language-server works but that didn't do anything inside jupyter. I tried to install that repo from the source but that didn't help either.

Is there any fix for this issue please?

PS: I think that

[2020-03-26 15:06] BothOfUsTogether2 commented on #25
i don't have this issue and im using anaconda3. I think you should look for the permissions of the file by running ls or stat:
'/usr/local/lib/python3.6/dist-packages/jupyter_tabnine/binaries/2.5.1/x86_64-unknown-linux-gnu/TabNine'

the resolution might be adding exec flag to the binary running chmod, like following:
`chmod +x '/usr/local/lib/python3.6/dist-packages/jupyter_tabnine/binaries/2.5.1/

[2020-03-26 15:19] BothOfUsTogether2 commented on #22
author doesn't seem to add instructions on how to install using Anaconda...

and unfortunately, I don't know how to send pull requests..

if you encounter this problem on README.md
the steps for installing tabnine is:
1. clone the repo `git clone https://github.com/wenmin-wu/jupyter-tabnine`
2. install it using anaconda' python `~/anaconda3/bin/python3.7 setup.py install`

[2020-03-27 03:06] wenmin-wu commented on #28
Hi @BothOfUsTogether2 , I guess you are familiar with JavaScript. You can refer this https://github.com/wenmin-wu/jupyter-tabnine/blob/master/DEBUG.md for debugging. Can add the package to `setup.py`. Let me fix this

[2020-03-27 04:08] BothOfUsTogether2 commented on #28
![image](https://user-images.githubusercontent.com/52379406/77720712-c6bc7200-6ff9-11ea-9d69-c284f6c0c979.png)

[2020-03-27 04:10] BothOfUsTogether2 commented on #28
If I type the variable without dot it shows this message:

![image](https://user-images.githubusercontent.com/52379406/77720808-071bf000-6ffa-11ea-9392-cd4f72d6cb33.png)

[2020-03-27 08:08] wenmin-wu commented on #25
@BrunoGomesCoelho , try this
[code]
The package will be installed under the user's dir.

[2020-03-27 08:09] #25 closed

[2020-03-27 08:11] wenmin-wu commented on #24
Hi @capnahab , seems it's not the problem of jupyter-tabnine but a problem of your jupyter environment. I developed this project on MacOS with Chrome and Python3.

[2020-03-27 08:11] #24 closed

[2020-03-27 08:13] wenmin-wu commented on #21
Please try these commands, which will install jupyter-tabine under user dir.
[code]

[2020-03-27 08:14] wenmin-wu commented on #16
Seems you can't collect the server, could you please who me the whole content of `reponseText`

[2020-03-27 08:16] wenmin-wu commented on #3
@daxinnan 看起来是 JS 中替换逻辑的一个 bug，这个问题一直存在吗？ 我复现不了...

[2020-03-27 08:29] wenmin-wu commented on #7
Hi @snickell , thanks for your interest, won't be a lot of work. However, jupyterlab use TypeScript instead of JavaScript. I'm not sure whether we can use JavaScript since TypeScript code will be compiled to JavaScript before executing.

If it only supports TypeScript, we need to change the front-end part to TypeScript. https://github.com/wenmin-wu/jupyter-tabnine/tree/master/src/jupyter_tabnine/s

[2020-03-27 08:38] #6 closed

[2020-03-27 08:38] #28 closed

[2020-03-27 08:38] #5 closed

[2020-03-27 17:56] BothOfUsTogether2 commented on #28
still doesn't autocomplete after upgrading version

[2020-03-27 19:05] BothOfUsTogether2 commented on #19
update version he added a binary .. this seems to work now

[2020-03-30 04:10] snickell commented on #7
@wenmin-wu hi! I have done a little research, and it looks like we can use javascript no problem, I'll keep looking into what is involved

[2020-03-30 04:12] snickell commented on #7
More information: I was able to make a hello-world jupyterlab extension using Javascript (not typescript). They don't give examples, but its not a problem, you can import their libraries in either javascript or typescript, that is all that is required to make an extension

[2020-03-30 09:00] wenmin-wu commented on #7
Hi @snickell , good to know this, then I think we don't need so much effort to support JupyterLab. Could you please put your demo in a public GitHub repo. I want to have a look:)

[2020-03-31 12:48] ucsky opened #30 "TypeError: write() only accepts bytes, unicode, and dict objects"
[code]

[2020-04-02 07:41] parkkk123 commented on #16
I got the same problem with this error message.

[2020-04-02 10:54] cher1998 opened #31 "Modification to work in Juyter Lab"
This is not support by jupyter lab.
Is there a way that I can install tabnine for jupyter lab and use it.

[2020-04-04 01:54] wenmin-wu commented on #31
Hi @cher1998 , you can have a look at #7 . Not too much modification need to be made, I suppose.

[2020-04-04 01:54] #31 closed

[2020-04-04 10:00] arisliang opened #32 "Incompatible with jupyter 6?"
In the extension configurator, it shows under "possibly incompatible".

jupyter-notebook version 6.0.3

[2020-04-06 22:42] BothOfUsTogether2 commented on #32
I got it to work..
Which python version are you using?, python envrionment are you using?

[2020-04-11 05:09] Dernbu commented on #16
Hi, @wenmin-wu! I'm facing a similar issue with the extension, and I've copy pasted `responseText` below. I've made sure to enable javascript on chrome, but I still get the error. Thank you, in advance!
[code]

[2020-04-13 16:14] analaarun opened #33 "jupyter-tabnine doesnt work at all after installation"
Installed jupyter-tabnine as given in instruction, but getting error on launching jupyter notebook. Also default intelisense stopped working.
![image](https://user-images.githubusercontent.com/15939650/79137176-dc8aaf00-7dcf-11ea-90cb-57fff1b9cdfd.png)

[2020-04-14 08:48] wenmin-wu commented on #33
For your case, I think we didn't correctly configure the server extension. Please issue `jupyter serverextension enable --py jupyter_tabnine` and restart

[2020-04-14 09:08] wenmin-wu commented on #33
I have update the README.md, always try to install and configure this plugin by issuing following commands first:
[code]

[2020-04-14 09:08] #33 closed

[2020-04-14 09:11] wenmin-wu commented on #21
Thanks for your comment, I updated the `README.md`, the detail installation instruction may be misleading to some users.

[2020-04-14 09:11] #21 closed

[2020-04-15 05:10] qingfeng1996 opened #34 "Follow the install command but failed to work"
the error message when running jupyter notebook

[IPKernelApp] ERROR | Exception in message handler:
Traceback (most recent call last):
  File "/Users/wuyoudong/opt/anaconda3/lib/python3.7/site-packages/ipykernel/kernelbase.py", line 268, in dispatch_shell
    yield gen.maybe_future(handler(stream, idents, msg))
  File "/Users/wuyoudong/opt/anaconda3/lib/python3.7/site-packages/tornado/gen.py", li

[2020-04-15 09:23] wenmin-wu commented on #34
seems you didn't install the package correctly, please follow these commands:
[code]

[2020-04-18 08:51] sidhantagar opened #35 "I followed the installation steps but it did not work."
404 GET /tabnine?data=%7B%22version%22%3A%221.0.7%22%2C%22request%22%3A%7B%22Autocomplete%22%3A%7B%22filename%22%3A%22Untitled.py%22%2C%22before%22%3A%22impo%22%2C%22after%22%3A%22%22%2C%22region_includes_beginning%22%3Atrue%2C%22region_includes_end%22%3Atrue%2C%22max_num_results%22%3A10%7D%7D%7D (::1) 6.05ms referer=None

I am getting this error  in the console log.

Also i tried running jupyter

[2020-04-20 00:17] wenmin-wu commented on #35
This plugin not only contains a nbextension but also a server extension. Since the server cannot be found in your case, I guess you didn't enable the server, please install and configure with the following commands, the last one is to enable the server extension.
[code]

[2020-04-20 00:17] #35 closed

[2020-04-20 00:18] wenmin-wu commented on #34
Close due to no update for 5 days.

[2020-04-20 00:18] #34 closed

[2020-04-20 00:18] wenmin-wu commented on #32
Close due to no update for 13 days.

[2020-04-20 00:18] #32 closed

[2020-04-20 00:19] wenmin-wu commented on #30
Are you using python2?

[2020-04-20 00:21] wenmin-wu commented on #20
What do you mean by display an error? Can not see the completer div or else?

[2020-04-20 00:47] BothOfUsTogether2 commented on #10
you can get info about function by writing ?? before statement

![image](https://user-images.githubusercontent.com/52379406/79704342-a3fc4100-82b9-11ea-8891-d0d26c509718.png)

[2020-04-22 20:10] thecoducer opened #36 "How to remove tabnine from Jupyter notebook?"
I'm not able to remove tabnine from jupyter notebook. Did `pip3 uninstall jupyter-tabnine`. It uninstalled the package but "Jupyter Tabnine" is still showing under the `Help` dropdown list in notebook. Kindly help.

[2020-04-27 15:46] nbswords commented on #36
You need to install Jupyter_tabnine back with  `pip3 uninstall jupyter-tabnine`
After install it back. Run `jupyter nbextension uninstall --py jupyter_tabnine` firstly,
then run `pip3 uninstall jupyter-tabnine`.

[2020-04-30 12:28] werty9988 opened #37 "Can't escape dropdown menu w/o selecting a completion."
Using TabNine with Jupyter. Let's say I see a completion that seems relevant to me at first glance. I scroll down but as I'm doing so I realize this isn't what I was looking for. Now I have to select something, erase it and continue. Doesn't sound like a big deal but when this happens several times it gets annoying.

[escdoesntwork.zip](https://github.com/wenmin-wu/jupyter-tabnine/files/4558232/es

[2020-05-07 01:55] skykiseki opened #38 "Seems like it doesn't work on my jupyter"
Have restarted my jupyter server for times, but it still doesn't work on my jupyter

The inspection is as follow, seems like some network problems happen, why?

![image](https://user-images.githubusercontent.com/15109711/81245870-b3fd7a00-9048-11ea-8f0a-bd2db2755759.png)

[2020-05-09 12:00] Mitosh opened #39 "Change the Tab colour"
Hello, i'm using a theme in Juyter, so when i use the TabNine the text is unreadable, can you tell me how can i change the colour of the background of the popup?

![image](https://user-images.githubusercontent.com/33863195/81473256-7d1c9500-91fd-11ea-8b33-cb270d461124.png)

[2020-05-09 12:06] #39 closed

[2020-05-09 12:06] Mitosh commented on #39
Found it. Ty

[2020-05-10 03:38] shuaibptb opened #40 "Doesnt it work on JupyterLab files?"

[2020-05-10 03:43] #40 closed

[2020-05-10 03:55] wenmin-wu commented on #37
You can simply press `ESC`

[2020-05-13 10:19] avasid opened #41 "Changes in behaviour of suggestion popup"
A few changes that I would suggest,
1) The first option should be in focus by default.
2) Navigating the options doesn't change the main code, rather the ENTER key would implement the code as well as close the window.
3) Because the ENTER key's function is now inserting code, ESC key should be used to close the suggestion box.

I suggest these changes because they seem more natural and inline with

[2020-05-13 11:43] wenmin-wu commented on #41
Cool, man. Please open a pull request and then I can do some test

[2020-05-18 12:20] pankajmohanty opened #43 "Code auto complete in jupyter notebook by tabnine"

[2020-05-20 13:49] syifa-humaira commented on #13
hi, i had follow the instruction for installation tabnine from your github, but that not working in my jupyter notebook . The entire of installation process was successful but when i try to debug tabnine i had notice like this . How can i solve this problem ? thank you
![tabnine](https://user-images.githubusercontent.com/53184582/82453835-3c652b80-9adb-11ea-8ded-552808f601fd.png)

[2020-05-27 03:08] forest520 commented on #7
Any update on jupyterlab extension? Thanks!

[2020-05-30 21:49] refesler opened #44 "binary support question"
Installing on SmartOS (SunOS/illumOS) goes fine but then objects inside __init__ with:
[code]
which seems to be related to downloading a binary.  It is not totally beyond the realm of possibillity that I could successfully compile something (never an easy task in SunOS variants).  On the other hand,  is the binary needed the same as the server run remotely, then it takes 30seconds to spin up a ver

[2020-06-10 11:06] ness001 opened #45 "TabNine was unable to start the python semantic completion backend."
TabNine was unable to start the python semantic completion backend.
The command tried was: `pyls`
This means you need to install the backend manually.
For help, see tabnine.com/semantic.
Or, type TabNine::no_sem to disable semantic completion for Python.
(TabNine works well even without semantic completion.)

[2020-06-21 00:55] liuweibin6566396837 opened #46 "tabnine for jupyterhub mutiple users"
Can I use tabnine in jupyterhub with mutiple users?
How can I use it ?

[2020-07-31 07:09] zendiesel opened #48 "Hey Yo!"
Doesn't work on Brave browser Version 1.11.104 Chromium: 84.0.4147.105 (Official Build) (64-bit)
`VM122:1 GET http://localhost:8891/tabnine?data=%7B%22version%22%3A%221.0.7%22%2C%22request%22%3A%7B%22Autocomplete%22%3A%7B%22filename%22%3A%22Untitled3.py%22%2C%22before%22%3A%22i%22%2C%22after%22%3A%22%22%2C%22region_includes_beginning%22%3Atrue%2C%22region_includes_end%22%3Atrue%2C%22max_num_result

[2020-08-06 11:02] LinkHS opened #49 "Tabnine占据上G的内存（Takes up too much memory）"
如图所示，仅仅开一个jupyter文件几秒钟，瞬间占据1.8G内存。（As shown below, after opening just one jupyter file, tabnine takes up almost 1.8G memory, which also increases the Windows virtual memory dramatically）

![image](https://user-images.githubusercontent.com/8181823/89524526-50394780-d817-11ea-8e15-d98fad88c368.png)

[2020-08-06 16:09] lc5415 opened #50 "Tabnine suggestions don't work in non notebooks and in non-code cells"
Hi I am editing a markdown document and I was expecting the tabnine autocompletion to work for markdown cells, unfortunately it does not. I can although get this to work by switching the cells to Code type though some of the formatting breaks. TabNine for vim can work for any kind of document, could this perhaps be made to work in non-code cells? I am using the jupytext extension which turns any `

[2020-08-11 08:19] atomse commented on #16
it's a jupyter 404 page

[2020-08-13 09:31] som-dubey commented on #4
When i am trying to run it on Jupyter notebook, it isn't responding at all.
I have done the installation as mentioned on the github page -

!pip install jupyter-tabnine
!jupyter nbextension install --py jupyter_tabnine
!jupyter nbextension enable --py jupyter_tabnine
!jupyter serverextension enable --py jupyter_tabnine

when i am checking the console for error, i am getting this error -

![image](

[2020-08-14 12:57] som-dubey commented on #4
The above problem was solved on its own after a laptop restart.

[2020-08-28 05:45] Minhring opened #51 "Successful installing in virtual environment but could not start jupyter."
I created a virtual environment "tabnine" with python 3.8.5 in my Ubuntu 16.04 (python3.8 -m venv tabnine).
Then, I followed 4 steps in README to install (If i used --user in the first line, it could not run):
**(tabnine) pip3 install jupyter-tabnine
(tabnine) jupyter nbextension install --py jupyter_tabnine --user
(tabnine) jupyter nbextension enable --py jupyter_tabnine --user
(tabnine) jupyter

[2020-09-03 22:05] htfy96 opened #52 "TypeError in handler.py:self.write(response)"
[code]

If I understand correctly, [the following code](https://github.com/wenmin-wu/jupyter-tabnine/blob/master/src/jupyter_tabnine/handler.py#L14) tries to call `self.write(json_object)`. However, not all JSON objects are supported by [Tornado.RequestHandler.write](https://www.tornadoweb.org/en/stable/_modules/tornado/web.html#RequestHandler.write), and [tabnine may return `NULL` according to it

[2020-09-05 03:34] wenmin-wu commented on #52
Hi @htfy96 , thanks for your feedback. I can't reproduce this error. Could you please `git clone` the latest code and change to `self.write(json.dumps(response))` and test it. In the JavaScript code, I already handled `string` response.
refer to https://github.com/wenmin-wu/jupyter-tabnine/blob/master/src/jupyter_tabnine/static/main.js#L121

[2020-09-07 13:15] cnjackhu opened #53 "jupyter lab可以装吗"
jupyter lab可以装吗

[2020-09-17 17:01] jdrylewicz opened #54 "tabnine change font in jupyter"
Hi,
I am using dark mode in jupyther and the font for TabNine suggestions is hard to read. Is there an easy way to change it?
thanks

[2020-09-18 03:13] CocuyFercho commented on #53
Hello guys...
I saw that there are a couple of discussions around modifying the jupyter notebook extension to create a jupyterlab one.
Is this progressing? Any updates on this?.

Thanks

[2020-10-05 21:00] colizz commented on #49
Hi, this is a known issue for TabNine itself, not for this plugin.

[2020-10-29 12:44] Logan1x opened #55 "Can't seem to find tabnine for jupyterlab"
Do we have tabnine for jupyterlab? Its awesome extension, but looks like still available for jupyterlab.

[2020-11-12 12:22] Maulorian commented on #38
ME TOO

[2020-11-12 13:23] Maulorian opened #57 "GET http://127.0.0.1:8888/tabnine?data=BIG_STRING 404 (Not Found)"
I'm getting this error when trying to use your plugin:
<img width="1532" alt="Screenshot 2020-11-12 at 15 22 03" src="https://user-images.githubusercontent.com/25705704/98945178-70e9fb00-24f2-11eb-8eda-01128feb6104.png">

[2020-11-19 22:48] ayhokuyan opened #58 "Not working on notebooks that have images in markdowns"
I was working on a homework notebook, where the notebook had markdowns with images, notes, etc. Although the semantic completer was enabled, I was not able to see any tab opening for completion while writing with/without pressing tab. Then I have copied the notebook and deleted all markdowns and the completion came back. I wish you could solve the problem since I prepare and also work on many note

[2020-11-25 07:19] Prabhusarathy18 opened #59 "Docker image"
Please check for Dockerized build.  Facing multiple issues while creating image and also while docker run.

[2020-11-27 04:02] quydx commented on #30
I am using python3.6 and get the same error.
[code]
Does it works with python3.6 ?

[2020-11-27 10:30] Prabhusarathy18 commented on #19
@agi1512  How u pointed your jupyter notebook to point your container? Can u please elaborate ?

[2020-11-28 10:10] agi1512 commented on #19
@Prabhusarathy18 sorry I didnt test this with the new binary. If my memory does not fail me, pointing through jupyter notebook wasn't working, because in some `.js` files there was `localhost` hardcoded. I found a dir with extension installed, in which I then looked up 'localhost' with linux command `find`. Then in all found files I changed localhost to ip of my server.

[2020-11-28 15:46] wenmin-wu commented on #19
Don't need to change the js file, it's not hardcoded @agi1512, I get the `remote_server_url` from the config. refer to https://github.com/wenmin-wu/jupyter-tabnine/blob/master/src/jupyter_tabnine/static/main.js#L112.

You may need to install the latest version by issuing `pip3 install https://github.com/wenmin-wu/jupyter-tabnine/archive/master.zip`. Because the data type returned by the remote ser

[2020-11-28 15:51] agi1512 commented on #19
Thank you for the reply, I will use the command you provided, also the issue is almost year old now. I didnt have the opportunity to test newer releases myself, but if everything is working as intended now, feel free to close the issue @wenmin-wu! Thanks

[2020-11-28 15:57] wenmin-wu commented on #19
Sorry, I have been busy with my career stuffs this year, didn't get enough time to go through these issues. Let's leave it here since more people come across the same issues.

[2020-11-28 17:36] wenmin-wu commented on #59
Please refer to https://github.com/wenmin-wu/jupyter-tabnine/blob/master/README.md#build-server-image, do let me know if you have any other problems.

[2020-11-30 13:05] amircodota opened #60 "linux issue"
Hi folks,

Amir from codota here (the company behind TabNine).

We have recently introduced an issue were some linux users might have TabNine stop working. We suspect it might affect jupyter notebooks users (on linux only).

The issue started with TabNine 3.2.22 and was fixed in TabNine 3.2.28 which is already released. Therefore, new users should not be affected by this issue.

However, existing

[2020-12-03 15:12] Prabhusarathy18 commented on #59
Thanks for response.  Now the image build is very fine.  I'm getting CORS issues while specifying remote_server_url in the config file.  Is there any fix for this?

[2020-12-03 15:15] Prabhusarathy18 commented on #19
Thanks for the response! @agi1512  @wenmin-wu

[2020-12-03 17:33] wenmin-wu commented on #59
Did you modify the code? The CORS issue had been solved here https://github.com/wenmin-wu/jupyter-tabnine/blob/master/go/cmd/server.go#L33

[2020-12-04 12:32] Prabhusarathy18 commented on #59
@wenmin-wu  Yes it is working now.  But Im not getting any results now.  I pointed the remote-url param as http://0.0.0.0:9999/.  Also tried by hard-coding inside main.js file.  To my understanding the ajax call is loading too long.  May be network issue.  Please check this once.

Also the image was taken from docker-hub.  Also tried with build-script.  Both fails for me.

[2020-12-04 14:31] Prabhusarathy18 commented on #59
Also tried with postman,
http://0.0.0.0:8888/tabnine?data=%7B%22version%22%3A%221.0.7%22%2C%22request%22%3A%7B%22Autocomplete%22%3A%7B%22filename%22%3A%22%2FUntitled2044.py%22%2C%22before%22%3A%22i%22%2C%22after%22%3A%22%22%2C%22region_includes_beginning%22%3Atrue%2C%22region_includes_end%22%3Atrue%2C%22max_num_results%22%3A10%7D%7D%7D

It is not fetching any results.

[2020-12-06 16:28] wenmin-wu commented on #60
Hi @amircodota, thanks for sharing. I did come across this problem and solved by using an old version under https://github.com/codota/tabnine-vim/tree/master/binaries/2.9.2

[2020-12-06 16:30] wenmin-wu commented on #59
Hi @Prabhusarathy18, it's caused by the TabNine binary refer to #60, could you please enter your container and check the TabNine version? I solved this by downloading a fixed version from https://github.com/codota/tabnine-vim/tree/master/binaries/2.9.2

[2020-12-06 16:50] wenmin-wu commented on #60
Hi @amircodota, could you build a binary for ARM, I would like to deploy a server on raspberry pi 4. However, no binary available. Will really appreciate if you can help on this.

[2020-12-07 05:49] Prabhusarathy18 commented on #59
Using 2.9.2 version.  Still facing same issue.

[2020-12-07 06:59] Prabhusarathy18 commented on #59
@wenmin-wu  I think server inside the container is stopping.  At first the container memory is 100+MB but after 10-15 sec it is under 10MB.  So it is understood that some process inside the container is killed after 10-15sec.  Also I checked with latest version of TabNine 3.2.28  which was specified #60.  Please check this.

[2020-12-07 07:13] amircodota commented on #60
@wenmin-wu I'm afraid we do not currently support ARM.

[2020-12-09 03:34] nimabte commented on #13
Hi,

I have installed TabNine for python in jupyter notebook installed through Anaconda.
And I have the same problem that TabNine is unable to start the python semantic completion backend.
I tried as suggested in [https://www.tabnine.com/semantic](url)
I created `TabNine.toml` and wrote the following in It.

[code]
and restarted TabNine. but still, it can not run the command. (the full PATH also d

[2020-12-24 14:59] sergioacmacedo commented on #13
Hi,
I am a Windows 10 user and was experiencing the same issue @nimabte described above. After some trial and error I was able to make TabNine semantic completion work for by creating the file `TabNine.toml`, following the instructions in https://www.tabnine.com/semantic, but I had to change the `command` field:

[code]

[2020-12-24 17:15] nimabte commented on #13
tried it! didn't work!
with the same message:
[code]

[2020-12-26 15:20] nimabte commented on #13
@sergioacmacedo Thanks for the reply

I tried it! didn't work for me!
with the same message:
[code]

[2020-12-29 13:55] sayan1999 commented on #4
@som-dubey I am getting the same error.
No help with restart.

[2021-01-06 21:18] maricatovictor commented on #60
Will just paste the error I was getting so Google can send people here:

[code]

Thank you for your attention for promptly posting

[2021-01-17 12:39] amircodota opened #61 "Apple m1 support"
Hi, floks

Amir from tabnine here.

We have recently released support the new for Apple M1 processors.
This requires some changes on the plugin side too.

We've updated the [how to write a plugin](https://github.com/codota/TabNine/blob/master/HowToWriteAClient.md) document.
We also implemented it in various other plugins, so you can check it out to get inspiration :-)

[vscode](https://github.com/

[2021-01-22 17:58] swed1983 commented on #7
Hi @wenmin-wu , any progress on jupyterlab extension? really love the extension, so that's the only reason keeping me still on notebook rather then transitioning to lab

[2021-01-29 22:52] leeyunhome opened #62 "ModuleNotFoundError: No module named 'jupyter_tabnine'"
Hello,
Thank you for your effort.

`(py37) E:\coding2>pip3 install jupyter-tabnine --user
Requirement already satisfied: jupyter-tabnine in c:\users\neuez\appdata\roaming\python\python37\site-packages (1.1.0)
Requirement already satisfied: notebook>=4.2 in c:\users\neuez\appdata\roaming\python\python37\site-packages (from jupyter-tabnine) (6.2.0)
Requirement already satisfied: ipython in c:\coding

[2021-02-02 08:25] FelixAbrahamsson opened #63 "Feature request: option to change text color"
I use a dark theme from jupyterthemes and it's very difficult to see the text suggestions from TabNine. Would be great to be able to change the text color!

[2021-02-02 13:22] ValdemarQ opened #64 "Using on Colab?"
Is it possible to somehow install this one on google colab, and use it there?

[2021-02-04 03:34] wenmin-wu commented on #57
Hi @Maulorian, this issue is fixed in this [commit](https://github.com/wenmin-wu/jupyter-tabnine/commit/f1615b54a2662f8c80e2ead225c40cf298f68e2c)

Please reinstall with the following commands:
[code]
I'm going to release the new version to `pypi` after several days of using.

[2021-02-04 08:56] #57 closed

[2021-02-04 14:18] wenmin-wu commented on #57
The newest version is available on [pypi](https://pypi.org/project/jupyter-tabnine/), you can install with `pip install jupyter-tabnine`

[2021-02-09 08:33] martincpt commented on #16
Same here. I got 404 when typing anything.

[2021-02-20 19:20] briancullinan commented on #21
I am still getting this error even with --user option.

[2021-02-20 19:20] briancullinan commented on #62
Duplicate of https://github.com/codota/jupyter-tabnine/issues/21

[2021-02-23 10:35] KLonge commented on #7
Any update on the jupyterlab extension? I much prefer jupyterlab (currently using vscode just because I don't like fake dark modes on notebook).

[2021-02-25 06:22] vivekpayasi opened #65 "Error loading server extension jupyter_tabnine"
Jupyter tabnine was working fine but then for past couple of days it was giving the error mentioned in this [issue](https://github.com/codota/jupyter-tabnine/issues/3)

I tried uninstalling and then installing again.

This time I'm getting the following error:

[code]

Any help would be much appreciated.

Thanks.

[2021-02-28 15:13] dimacodota commented on #65
hey @vivekpayasi, What OS are you using?

From SO: `Take a look at this post, it seems like for later versions of Python, certificates are not pre-installed which seems to cause this error.`

See here: https://stackoverflow.com/questions/50236117/scraping-ssl-certificate-verify-failed-error-for-http-en-wikipedia-org

Please let me know if this works and I'll close. Thanks.

[2021-03-02 09:42] pacospace commented on #7
@wenmin-wu any update on the jupyterlab extension? It would be really cool to have it!

[2021-03-02 09:44] pacospace commented on #55
https://github.com/codota/jupyter-tabnine/issues/7

[2021-03-04 07:34] vivekpayasi commented on #65
Hi @dimacodota,

I'm using MacOS and the SO link you shared helped! The issue is resolved for me now.

Thanks!

[2021-03-04 07:34] #65 closed

[2021-03-27 16:39] skorphil commented on #36
i've just uninstalled `jupyter_tabnine` extension:

[code]
The problem is when i launching `jupyter lab` it still trying to load this module.

In terminal i see:
[code]
How to completely remove jupyter_tabnine so no warning messages appeared?

[2021-03-29 13:53] boaz-codota commented on #63
That is an awesome idea!

We will prioritize on that, for future releases.

[2021-03-29 13:53] #63 closed

[2021-03-29 13:54] boaz-codota commented on #64
You should be able to do it in a similar manner to what is answered here: https://stackoverflow.com/a/52292645/2420354

Let me know if this does not work for you (please make sure to install tabnine and not what presented in the example).

[2021-04-02 23:45] akmalsoliev commented on #4
Had the similar issue, running the quoted commands fixed the issue.

[2021-04-20 09:03] PallavRastogi opened #68 "No autocomplete suggestion coming"
All the installation commands were successful, not a single error was shown during installation.
But the tabnine extension is just not working, whenever I type something an error is dumped in the console tab.

[
![Tabnine Error](https://user-images.githubusercontent.com/69533542/115369053-558fc400-a1e5-11eb-9e1e-f3d8fa8f928f.JPG)
](url)

[2021-05-06 09:01] yachtsman commented on #68
I have the same issue. Moreover, it happens accidentally, after the reloading jupyter, Tabnine is running for a while and then stops work again.

[2021-05-06 15:38] plehman2000 commented on #68
Same issue, same error as PallavRastogi

[2021-05-26 10:02] timsolov commented on #68
Same issue

[2021-05-26 11:07] dimacodota commented on #68
can you please attach the output of the `jupyter notebook` command in the `Command Prompt`?

[2021-06-12 02:34] hyspacex commented on #55
any updates on this?

[2021-06-14 21:04] YIMINGMA opened #70 "Download Failed"
Hi, developers.

I have tried everything in your documentation, but when I typed `jupyter-notebook` in my terminal, I got messages below:
[code]

So, I guess this might be a problem with the server?

gz#1756

[2021-06-16 11:17] maya-tabnine commented on #55
There is no Tabnine extension for JupyterLab yet, but it is definitely on our roadmap!

[2021-06-19 20:10] 7benson commented on #63
**We can just change the color of the suggestions in custom.css file**

- In Windows, find config directory by running a command: jupyter --config-dir
-
- In Linux it is ~/.jupyter
-
- If there no " custom " folder, create a folder with name custom and in that folder, create a custom.css file, If you already have the custom.css file, no need to do this
-
- Add these css lines at the beginning of t

[2021-06-20 06:29] vimishra commented on #53
Just checking again if this is something that is supported now? Or does this work with only Jupyter Notebooks?

[2021-06-21 10:34] maya-tabnine commented on #70
Did you try to install it using the instructions at https://github.com/codota/jupyter-tabnine#installation ?
At what command did you receive the error reported?

[2021-06-24 02:24] chirag-mehta commented on #70
<img width="1260" alt="Screenshot 2021-06-24 at 7 53 04 AM" src="https://user-images.githubusercontent.com/29609746/123192810-40733200-d4c1-11eb-8d29-f9a1b9200a87.png">

Getting this when starting the jupyter server. I don't get any suggestions when I use it in a notebook even though the extension is enabled. I used the install instructions in the link you posted here.

[2021-06-27 15:12] maya-tabnine commented on #70
Please follow the instruction at https://github.com/codota/jupyter-tabnine/blob/master/DEBUG.md and send us the output.

[2021-06-29 15:00] bilucodota commented on #70
Hi @YIMINGMA sorry for the late response. PR #66 should solve this issue. Can you replace `tabnine.py` (under `/Users/chiragmehta/.../jupyter-tavbube/` with `tabnine.py` from the PR? Let us know if it works for you

[2021-07-13 20:47] xinwei-sher commented on #55
It 's a great extension. Works only on Jupyter Notebook, though.  Please make it also available on Jupyterlab! Thank you!

[2021-07-13 20:48] xinwei-sher commented on #55
You could be a real competitor with Kite!

[2021-07-15 03:07] swim86unifyd opened #71 "Released"
84ea6777b9e94332ec886ecc6bf560c2f68b68d0

[2021-07-15 07:55] maya-tabnine commented on #71
Hi how can I help you?

[2021-07-22 17:23] FrannieK commented on #55
very looking forward to seeing the extension for lab!!

[2021-07-25 09:03] ysl2 opened #73 "Please make this plugin compatible with another plugin: jupyter-vim-binding"
https://github.com/lambdalisue/jupyter-vim-binding

[2021-07-27 13:58] xbankov commented on #30
Using python3.8 conda in conda env and the same error.

[code]

[2021-07-28 06:58] gsangeryee commented on #62
If you use a virtual python env like conda, you should activate your python env that you often used first.

[2021-08-08 10:17] hustxujinkang commented on #68
[E 18:12:08.320 NotebookApp] Uncaught exception GET /tabnine?data=%7B%22version%22%3A%221.0.7%22%2C%22request%22%3A%7B%22Autocomplete%22%3A%7B%22filename%22%3A%22dlnlp%2Fdynamic_graph_e3.py%22%2C%22before%22%3A%22import%20tensorflow%20as%20tf%5Cnimport%20numpy%20as%20np%5Cnimport%20matplotlib.pyplot%20as%20plt%5Cntf.compat.v1.disable_v2_behavior()%5Cn%23%EF%BC%881%EF%BC%89%E7%94%9F%E6%88%90%E6%A8%

[2021-08-12 10:34] drandran12 commented on #55
Yes, that would be awesome!

[2021-08-12 10:35] drandran12 commented on #7
Is there any idea how far out this feature is on the roadmap?

[2021-08-18 13:26] #70 closed

[2021-08-18 18:24] dimacodota commented on #7
Hi All, we just released a jupyterlab  extension  https://github.com/codota/tabnine-jupyterlab  🎉

[2021-08-18 18:59] dimacodota commented on #53
We just released a jupyterlab extension https://github.com/codota/tabnine-jupyterlab 🎉

[2021-08-18 18:59] dimacodota commented on #55
Hi All, we just released a jupyterlab extension https://github.com/codota/tabnine-jupyterlab 🎉

[2021-08-24 11:02] Brentbin opened #75 "405 (Method Not Allowed)"
不能够正常显示
调试界面显示为
[code]
[code]

[2021-08-24 11:04] bilucodota commented on #75
Hi @Brentbin
Did you enable the server extension?
`jupyter serverextension enable --py jupyter_tabnine --user
`

[2021-08-24 11:25] Brentbin commented on #75
yeah, i've check serverextension with
[code]
and the result is
[code]
maybe [here](https://github.com/jupyterlab/jupyterlab/issues/8229) is the answer?

[2021-09-11 07:39] smolyakov26 opened #76 "How to fix that ? Doesnt work autocompletion"
![Снимок экрана от 2021-09-11 10-38-01](https://user-images.githubusercontent.com/45042066/132940478-cbb87d71-be07-46ca-bdb8-6829326f0bdc.png)

[2021-09-11 08:37] bilucodota commented on #76
Hi @smolyakov26 can you try to unsintall jupyter-tabnine and install jupyterlab-tabnine instead?

https://github.com/codota/tabnine-jupyterlab

[2021-09-11 12:07] smolyakov26 commented on #76
Ive tried reinstallation, no use of it (

сб, 11 сент. 2021 г. в 11:37, Amir Bilu ***@***.***>:

[2021-09-11 14:16] bilucodota commented on #76
No reinstall. Note that you're using Jupyter extension, you need to install the JupyterLab extension (link above)

[2021-09-11 16:06] smolyakov26 commented on #76
No use , ive even installed ubuntu again than conda , than jupyter with all
extentions , so tabnine doesnt work , kite is working well

сб, 11 сент. 2021 г., 17:17 Amir Bilu ***@***.***>:

[2021-09-12 14:54] maya-tabnine commented on #76
Which plugin did you install?
jupyterlab-tabnine is for JupyterLab
and jupyter-tabnine is for Jupyter Notebook

If you use JupyterLab, you need to have only jupyterlab-tabnine installed

[2021-09-14 04:27] smolyakov26 commented on #76
Both of them , so i installed last update nodejs  now i have my  notebook
completion is working. But i dont have in jupyter lab

вс, 12 сент. 2021 г., 17:54 maya-tabnine ***@***.***>:

[2021-09-24 10:34] Protostomien opened #77 "Where are config files?"
Hi,
Thank you for this great extension.
Currently, there is no information about here are jupyter_tabnine config files. Could you add this information in the readme/doc ?

As a side note for contextual information: I try to check all conf files relative to autocompletion on jupyter to fix 2 issues
- I've both tabnine suggestion and the jupyter ones ==> I would like to have only tabnine's suggestio

[2021-09-24 10:46] #77 closed

[2021-09-24 10:47] Protostomien commented on #77
I did not solve my 2 issues, but I've found tabnine conf file (I wonder how I did miss them: `/home/user_name/.config/TabNine`

[2021-09-25 10:45] zwy-Giser opened #78 "jupyterlab-tabnine doesn't work and show 405 post error"
I have sent an issue in repo jupyterlab-tabnine, and my info is listed in that issue, can you please help me ?

[2021-09-30 13:40] Tabnineteam commented on #76
Can you please try to install **only** jupyterlab-tabnine on fresh conda environment and see if it works?

Keep us updated

Amir
<br><p><em><small>°°°</small></em></p>

[2021-10-11 00:01] ZisIsNotZis opened #79 "How to access preference page"
There is a preference page of TabNine running on http://localhost:5555, but I'm not sure how to access it since there's no link inside jupyter menu / command palate, and directly typing this address don't work.

Other editors (e.g. sublime) can access this page by simply open the command palate and search for tabnine.

[2022-01-31 00:43] Daniel-Trung-Nguyen commented on #45
I have the same problem. Does anyone have a solution?
Thanks!

[2022-02-25 13:15] saidnamyzO commented on #13
I'm facing the same issue, nbextension install is trying to use system path instead of the anaconda environment.

[2022-03-03 22:58] I-Avery opened #81 "Can't uninstall tabnine"
Hello, I'm not super familiar with github and so I hope I'm putting this in the right place.

I followed the instructions for installing tabnine in jupyter lab and it worked great. Now I'd like to uninstall it, but when entering the following commands into my terminal:
`jupyter nbextension uninstall --py jupyter_tabnine`
`pip3 uninstall jupyter-tabnine`

I get the following output:

`Traceback (mo

[2022-03-10 15:03] maya-tabnine commented on #81
Hi @I-Avery you say you use Jupyer Lab, right?
Will you try run `pip3 uninstall jupyterlab-tabnine` ?

[2022-03-11 03:04] I-Avery commented on #81
Great suggestion! That worked worked perfectly thanks. I'll close the issue.

[2022-03-11 03:04] #81 closed

[2022-03-12 12:23] AliJavanJ1 commented on #78
I have the same issue.
Jupiter lab continuously logs

[2022-03-28 15:27] AxtonF opened #82 "Tabnine working in notebook but not in lab."
I have set up the scipy-notebook docker container from jupyter and tried to install tabnine.
Now tabnine works perfectly if I go to <mydomain>/notebooks/<notebook>, but when I visit <mydomain>/lab Tabnine doesn't work. I also get an Error "ERROR | No such comm target registered: jupyter.widget.control" in the console where I opened the jupyter server from. I have no idea if this is relevent, but i

[2022-03-28 16:01] AxtonF commented on #82
I found my mistake, first of all this was the wrong repo since my question was about the lab extension and the error was due to some misconfiguration in my nginx reverse proxy.

[2022-03-28 16:01] #82 closed

[2022-03-30 11:28] #55 closed

[2022-04-08 09:22] FilippoUslenghi commented on #78
Same issue here

[2022-04-14 04:15] polaris-water commented on #45
I have the same question, I hope to solve it

[2022-04-22 15:28] GhostinBits opened #84 "How do I set it to only show suggestions after pressing tab"
It can be annoying sometimes. Thank you.

[2022-04-22 15:28] Tabnineteam commented on #84
<i>(related to <a href='https:///agent/tickets/13693'>Zendesk ticket #13693</a>)</i>

[2022-04-22 17:59] #84 closed

[2022-07-22 09:46] heyi-core opened #86 "404"
Request URL: http://192.168.1.216:8888/tabnine?data=%7B%22version%22%3A%221.0.7%22%2C%22request%22%3A%7B%22Autocomplete%22%3A%7B%22filename%22%3A%22code%2FUntitled2.py%22%2C%22before%22%3A%22SS%22%2C%22after%22%3A%22%22%2C%22region_includes_beginning%22%3Atrue%2C%22region_includes_end%22%3Atrue%2C%22max_num_results%22%3A10%7D%7D%7D
Request Method: GET
Status Code: 404 Not Found
Remote Address: 192

[2022-07-22 09:46] bilucodota commented on #86
<i>(related to <a href='https://tabninedesk.zendesk.com/agent/tickets/16502'>Zendesk ticket #16502</a>)</i>

[2022-07-23 18:11] ZYM66 opened #87 "Why? I use nohup to run jupyter in my remote server ,but I can't use tabnine in my local browser"
![image](https://user-images.githubusercontent.com/61892155/180617414-7b1f2f1c-e3c8-4f5f-9575-0ac61c25ae19.png)
The info told me I got the '500 Internal Server Error' and I installed the jupyter-tabine step by step the
`pip3 install jupyter-tabnine --user
jupyter nbextension install --py jupyter_tabnine --user
jupyter nbextension enable --py jupyter_tabnine --user
jupyter serverextension enable --

[2022-07-23 18:11] bilucodota commented on #87
<i>(related to <a href='https://tabninedesk.zendesk.com/agent/tickets/16528'>Zendesk ticket #16528</a>)</i>

[2022-07-23 18:15] ZYM66 commented on #87
![image](https://user-images.githubusercontent.com/61892155/180617772-17fe769f-e57a-4650-b261-a168fe24f98b.png)
Sorry, I can't read this issue

[2022-07-23 18:19] ZYM66 commented on #87
![image](https://user-images.githubusercontent.com/61892155/180617907-99018b57-9e76-47c3-a477-274252d4f5f7.png)
This is the console info

[2022-07-23 18:30] ZYM66 commented on #87
I guess the remote tabine server does't start

[2022-07-27 07:50] maya-tabnine commented on #87
Hi! Did you install the jupyterLab plugin too before? Sometimes both of them together can cause problems.

[2022-11-02 05:02] Betristor commented on #21
Yeah, I have encountered the same issue now.